{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_user_new') }}'">Создать</button>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Адрес</th>
                <th scope="col">Телефон</th>
                <th scope="col">Email</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for shop in pagination %}
                <tr>
                    <th scope="row">{{ shop.id }}</th>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.phone }}</td>
                    <td>{{ shop.email }}</td>
                    <td>{{ shop.createDate | date('d-m-Y') }}</td>
                    <td>{{ shop.updateDate | date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('admin_shop_show', {'id': shop.id}) }}">Посмотреть</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
