{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid booking-history-main">
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <div class="history-actions">
                    <form action="{{ path('profile_booking_generate_history_pdf_order') }}" method="post">
                        <input class="booking-history-daterange form-control" type="text" name="daterange" value="" />
                        <button class="history-pdf-order" type="submit" title="Отчёт pdf"><i class="fa fa-file-pdf-o"></i></button>
                        <input type="hidden" name="startDate" value="{{ startDate }}">
                        <input type="hidden" name="endDate" value="{{ endDate }}">
                    </form>
                </div>
            </tr>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Номер заказа', 'hb.bookingNumber') }}</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Статус</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Дата создания', 'hb.createdDate') }}</th>
                <th scope="col">Дата доставки</th>
                <th scope="col">Дата последнего обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for historyBooking in pagination %}
                <tr>
                    <th scope="row">
                        {% if historyBooking.bookingNumber %}
                            {{ historyBooking.bookingNumber }}
                        {% else %}
                            #
                        {% endif %}
                    </th>
                    <td>{{ historyBooking.customerUserName }}</td>
                    <td class="{{ bookingService.bookingColorByStatus(historyBooking.status) }}">{{ bookingService.bookingStatusByLocale(historyBooking.status, 'ru') }}</td>
                    <td>{{ historyBooking.createdDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ historyBooking.deliveryDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ historyBooking.updatedDate | date('d-m-Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('profile_booking_show_history', {historyBookingId: historyBooking.id}) }}">Просмотр</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/profile/bookingHistory/history.js') }}"></script>
{% endblock %}
