{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid profile-shop-map">
        <div class="action-btn-list">
            <div class="filter-container">
                <select id="bookingStatusFilterMap" class="booking-status-filter form-control" name="bookingStatus">
                    <option value="">Все</option>
                    {% for status in statuses %}
                        <option value="{{ status }}">{{ bookingService.bookingStatusByLocale(status, 'ru') }}</option>
                    {% endfor %}
                </select>
            </div>
            <a class="btn btn-info" href="{{ path('profile_booking_index') }}">Назад</a>
        </div>

        <div class="col-lg-12">
            <div id="map" class="map-container"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script>
        var map;
        var markers;

        $(document).ready(function () {
            var bookings = '{{ bookings }}';
            bookings = bookings.replace( /&quot;/g, '"' );
            bookings = JSON.parse(bookings);

            initializeMap(bookings);

            $("#bookingStatusFilterMap").on('change', function () {
                $.ajax({
                    url: '{{ path('profile_booking_filter_on_map') }}',
                    data: {
                        status: $(this).val()
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            initializeMapMarkers(bookings);
                            showMarkers();
                        } else {
                            hideMarkers();
                        }
                    },
                    error: function (err) {
                        console.info(err);
                    }
                });
            });
        });

        function initializeMap(bookings) {
            DG.then(function () {
                map = DG.map('map', {
                    center: [{{ settingSiteMap.centerLatitude }}, {{ settingSiteMap.centerLongitude }}],
                    zoom: {{ settingSiteMap.zoom }}
                });

                markers = DG.featureGroup();

                initializeMapMarkers(bookings);
                showMarkers();
            });
        }

        function initializeMapMarkers(bookings) {
            bookings.forEach(function (booking, i) {
                var popup =
                    '<img style="width: 55px; height: 55px; margin-top: 5px;" src="/'+booking.customerShopImage+'">' +
                    '</br>' +
                    '<span class="" title="'+booking.customerShopName+'">' + 'Название: ' + booking.customerShopName + '</span>' +
                    '</br>' +
                    '<span class="" title="'+booking.customerPhone+'">' + 'Телефон: ' + booking.customerPhone + '</span>' +
                    '</br>' +
                    '<span class="" title="'+booking.customerAddress+'">' + 'Адрес: ' + booking.customerAddress + '</span>' +
                    '</br>' +
                    '<span class="" title="'+booking.bPrice+'">' + 'Стоимость заказа: ' + booking.bPrice + '</span>' +
                    '</br>';

                var popupBookingItems = '';
                booking.bookingItems.forEach(function (bookingItem, bi) {
                    popupBookingItems +=
                        '<span>' + bookingItem.goodName + '</span>' + ' - ' + '<span>' + bookingItem.amount + '</span>' +
                        '</br>'
                });

                popup +=
                    '</br>' +
                    '<span>' + 'Товар(ы): ' + '</span>';
                popup += popupBookingItems;

                DG.marker([parseFloat(booking.customerLatitude), parseFloat(booking.customerLongitude)]).bindPopup(popup).addTo(markers);
            });
        }

        function showMarkers() {
            markers.addTo(map);
            map.fitBounds(markers.getBounds());
        }

        function hideMarkers() {
            markers.removeFrom(map);
        }
    </script>
{% endblock %}
