{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="box box-info">
            <div class="action-btn-list">
                <button class="btn-dark" onclick="location.href='{{ path('profile_booking_index') }}'">Назад</button>
            </div>
        </div>
        <div class="box-body">
            {% if booking.customerUser and booking.customerUser.shop %}
                <div class="col-md-12 profile-booking-container">
                    <h4>Информация о заказчике:</h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                {% if booking.customerUser.shop.fileSrc %}
                                    <img class="shop-photo" src="{{ booking.customerUser.shop.fileSrc }}">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Название:</strong>
                            </td>
                            <td>
                                {{ booking.customerUser.shop.name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Email (почта):</strong>
                            </td>
                            <td>
                                {{ booking.customerUser.shop.email }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Адрес:</strong>
                            </td>
                            <td>
                                {{ booking.customerUser.shop.address }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Телефон:</strong>
                            </td>
                            <td>
                                {{ booking.customerUser.shop.phone }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <div class="col-md-12">
                <h4>Номер заказа {{ booking.id }}</h4>
                {% if not booking.isCompleted %}
                    <table>
                        <tr>
                            <td>Доставщик:</td>
                            <td>
                                <select id="deliveryStaffCompanySlct" class="form-control">
                                    <option value="">Выберите доставщика</option>
                                    {% for staffCompany in staffsCompany %}
                                        <option value="{{ staffCompany.id }}" {% if booking.deliveryStaffCompany and booking.deliveryStaffCompany.id == staffCompany.id %} selected {% endif %}>
                                            {{ staffCompany.firstName }} {{ staffCompany.secondName }} {{ staffCompany.lastName }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <div>Доставщик: {{ booking.deliveryStaffCompany.fullName }}</div>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Наименование
                        </th>
                        <th>
                            Количество
                        </th>
                        <th>
                            Цена за единицу товара
                        </th>
                        <th>
                            Стоимость
                        </th>
                        <th>
                            Количество возврата
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bookingItem in booking.bookingItem %}
                        <tr>
                            <td>
                                {{ bookingItem.good.name }}
                            </td>
                            <td>
                                {{ bookingItem.amount }}
                            </td>
                            <td>
                                {{ bookingItem.pricePerOne }}
                            </td>
                            <td>
                                {{ bookingService.calculatePriceByAmount(bookingItem.pricePerOne, bookingItem.amount) }}
                            </td>
                            <td>
                                {{ bookingItem.returnCount? bookingItem.returnCount : 0 }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div class="profile-booking-show-total-price">
                    <div>
                        <strong>Общая сумма заказа:</strong> {{ bookingService.calculateTotalPrice(booking, false) }}
                    </div>
                    <div>
                        <strong>Итого к оплате:</strong> {{ bookingService.calculateTotalPrice(booking, true) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="col-md-offset-3 col-md-9">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#deliveryStaffCompanySlct").on('change', function () {
                $.ajax({
                    url: '{{ path('profile_booking_set_deliveryman') }}',
                    data: {
                        staffId: $(this).val(),
                        bookingId: '{{ booking.id }}'
                    },
                    success: function (data) {
                        if (data.isSetDeliveryMan === true) {
                            alert('Доставщик назначен');
                        } else {
                            alert(data.message);
                        }
                    },
                    error: function (err) {
                        console.info(err);
                    }
                });
            });
        });
    </script>
{% endblock %}
