{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Установка даты доступа компании</h4>
        </div>
        <form action="{{ path('profile_shop_group_set_date_company_access', {shopGroupId: shopGroup.id}) }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-8">
                        {% for key, value in weekDayList %}
                            <input type="checkbox" name="weekDay[]" value="{{ value }}" {% if dateAccessCompany and value in dateAccessCompany.weekDayAssArray %} checked {% endif %}>{{ key }}<br />
                        {% endfor %}
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>

            <div class="box-footer">
                <button id="regUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
                <a class="btn btn-default" href="{{ path( 'profile_shop_group_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}
