{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Добавление 2-ой вложенности категории товара</h4>
        </div>
        {{ form_start(form) }}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.goodCategory) }}
                    {{ form_row(form.goodCategoryNestOne) }}
                    <div class="cat-nest-two-added-block">
                        {{ form_row(form.name) }}
                        {{ form_row(form.status) }}
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="regUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('admin_good_category_index', {companyId: companyId}) }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{{ path('admin_good_category_nest_one_get_list_by_good_category') }}',
                data: {
                    goodCategoryId: $("#apibundle_goodcategorynesttwo_goodCategory option:selected").val()
                },
                success: function (data) {
                    $("#apibundle_goodcategorynesttwo_goodCategoryNestOne").empty();

                    for (var i = 0; i < data.length; i++) {
                        $("#apibundle_goodcategorynesttwo_goodCategoryNestOne").append(
                            '<option value="'+ data[i].id +'">' + data[i].name + '</option>'
                        );
                    }
                },
                error: function (err) {
                    console.info(err);
                }
            });


            $("#apibundle_goodcategorynesttwo_goodCategory").on('change', function () {
                $.ajax({
                    url: '{{ path('admin_good_category_nest_one_get_list_by_good_category') }}',
                    data: {
                        goodCategoryId: $(this).val()
                    },
                    success: function (data) {
                        $("#apibundle_goodcategorynesttwo_goodCategoryNestOne").empty();

                        for (var i = 0; i < data.length; i++) {
                            $("#apibundle_goodcategorynesttwo_goodCategoryNestOne").append(
                                '<option value="'+ data[i].id +'">' + data[i].name + '</option>'
                            );
                        }
                    },
                    error: function (err) {
                        console.info(err);
                    }
                });
            });
        });
    </script>
{% endblock %}

