#gallery img {
    width: 254px;
    height: 169px;
}

.main-gallery {
    display: contents;
}

.main-header-logo {
    margin-bottom: 0px !important;
}

.hidden {
    display: none;
}

.key-moment-icon {
    width: 100px;
    height: 100px;
}