<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ asset('js/daterangepicker/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile/style.css') }}">
    <link href='{{ asset('css/fontOpenSansAdmin.css') }}' rel='stylesheet' type='text/css'>

    {% block stylesheets %}{% endblock %}

</head>
<body>

{% block leftbar %}
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path('profile_company_index') }}">MyDealer</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <h3 class="menu-title">Меню</h3><!-- /.menu-title -->
                    <li>
                        <a href="{{ path('profile_shop_group_index') }}"> <i class="menu-icon ti-arrow-right"></i>Группы магазинов </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_shop_index') }}"> <i class="menu-icon ti-arrow-right"></i>Магазины </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_good_index') }}"> <i class="menu-icon ti-arrow-right"></i>Список товаров </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_booking_index') }}"> <i class="menu-icon ti-arrow-right"></i>Список заказов </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_staff_company_index') }}"> <i class="menu-icon ti-arrow-right"></i>Курьеры </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_booking_history') }}"> <i class="menu-icon ti-arrow-right"></i>История заказов </a>
                    </li>
                    <li>
                        <a href="{{ path('profile_good_category_index') }}"> <i class="menu-icon ti-arrow-right"></i>Категории товаров </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Настройки</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-map-o"></i><a href="{{ path('profile_setting_site_map_index') }}">Карта</a></li>
                        </ul>
                    </li>
                    {#<li>
                        <a href="{{ path('admin_user_index') }}"> <i class="menu-icon ti-arrow-right"></i>Пользователи </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_shop_index') }}"> <i class="menu-icon ti-arrow-right"></i>Магазины </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_company_index') }}"> <i class="menu-icon ti-arrow-right"></i>Компании </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_staff_company_index') }}"> <i class="menu-icon ti-arrow-right"></i>Сотрудники </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_product_category_index') }}"> <i class="menu-icon ti-arrow-right"></i>Категории продукта </a>
                    </li>#}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
{% endblock %}

<div id="right-panel" class="right-panel">
    {% block header %}
        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    Привет {{ app.user.company.name }}
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="{{ path('fos_user_security_logout') }}">
                            Выход
                        </a>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->
    {% endblock %}

    {% block content %}
        <div class="content mt-3">


            <div class="col-sm-6 col-lg-3">
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-6">
                <!--/social-box-->
            </div><!--/.col-->


            <div class="col-lg-3 col-md-6">
                <!--/social-box-->
            </div><!--/.col-->


            <div class="col-lg-3 col-md-6">
                <!--/social-box-->
            </div><!--/.col-->


            <div class="col-lg-3 col-md-6">
                <!--/social-box-->
            </div><!--/.col-->

            <div class="col-xl-6">
            </div>

            <div class="col-xl-3 col-lg-6">
            </div>


            <div class="col-xl-3 col-lg-6">
            </div>


            <div class="col-xl-3 col-lg-6">
            </div>

            <div class="col-xl-3 col-lg-6">
            </div>

            <div class="col-xl-6">
                <!-- /# card -->
            </div>


        </div> <!-- .content -->

    {% endblock %}
</div>

{% block footer %}{% endblock %}

<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('js/popper.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('js/moment-with-locales.js') }}"></script>
<script src="{{ asset('js/daterangepicker/daterangepicker.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
