{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Редактирование курьера</h4>
        </div>
        {{ form_start(userForm, {'multipart': true}) }}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(userForm.username) }}
                    <span class="username-error hidden text-danger">Логин пользователя не должен быть пустым и содержать не менее 5 символов.</span>

                    <label for="changePassword">Изменить пароль</label>
                    <input id="changePassword" type="checkbox" />
                    {{ form_row(userForm.plainPassword, {attr: {'disabled': true}}) }}
                    <span class="password-error hidden text-danger">Пароль должен содержать  не менее 8 символов букв латинского алфавита и цифр, не менее 1 буквы и не менее 1 цифры. Попробуйте еще.</span>

                    <div class="hide-element">
                        {{ form_row(userForm.specialRole, {attr: {'disabled': true}}) }}
                    </div>

                    <div class="additional-form">
                        {{ form_widget(staffCompanyForm) }}

                        {% if staffCompany.fileSrc is defined and staffCompany.fileSrc %}
                            <img class="company-photo" src="{{ staffCompany.fileSrc }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="saveUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('profile_staff_company_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(userForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#changePassword").on('click', function () {
                if($(this).is(':checked')) {
                    $("#apibundle_user_plainPassword").attr('disabled', false);
                } else {
                    $("#apibundle_user_plainPassword").attr('disabled', true);
                }
            });

            var isValidPassword = true,
                isValidUsername = true;

            // Regular expression on checking correct entered "password"
            var regexPassword = /[^a-z][^0-9]|[^0-9][^a-z]/;

            $("#apibundle_user_username").on('blur', function () {
                $.ajax({
                    url: '{{ path('profile_staff_company_check_exist_username') }}',
                    type: 'POST',
                    data: {
                        username: $("#apibundle_user_username").val().trim()
                    },
                    success: function (data) {
                        if (data.isExist) {
                            isValidUsername = false;
                            alert(data.message);
                        }
                    },
                    err: function (err) {
                        console.info(err);
                    }
                });
            });

            $("#saveUserBtn").on('click', function () {
                isValidUsername = ($("#apibundle_user_username").val().trim() !== '' && $("#apibundle_user_username").val().length >= 5);
                if ($("#changePassword").is(':checked')) {
                    isValidPassword = (regexPassword.test($("#apibundle_user_plainPassword").val()) && $("#apibundle_user_plainPassword").val().length >= 8);
                } else {
                    isValidPassword = true;
                }

                if (!isValidUsername || !isValidPassword) {
                    event.preventDefault();
                }

                isValidUsername? $('.username-error').addClass('hidden') : $('.username-error').removeClass('hidden');
                isValidPassword? $('.password-error').addClass('hidden') : $('.password-error').removeClass('hidden');
            })
        });
    </script>
{% endblock %}