{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Создание курьера</h4>
        </div>
        {{ form_start(userForm, {'multipart': true}) }}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(userForm.username) }}
                    <span class="username-error hidden text-danger">Логин пользователя не должен быть пустым и содержать не менее 5 символов.</span>

                    {{ form_row(userForm.plainPassword) }}
                    <span class="password-error hidden text-danger">Пароль должен содержать  не менее 8 символов букв латинского алфавита и цифр, не менее 1 буквы и не менее 1 цифры. Попробуйте еще.</span>

                    <div class="hide-element">
                        {{ form_row(userForm.specialRole, {attr: {'disabled': true}}) }}
                    </div>

                    {{ form_row(form.firstName) }}
                    {{ form_row(form.secondName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.file) }}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="saveUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path( 'profile_staff_company_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(userForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var isValidPassword = false,
                isValidUsername = false;

            // Regular expression on checking correct entered "password"
            var regexPassword = /[^a-z][^0-9]|[^0-9][^a-z]/;

            $("#apibundle_user_username").on('blur', function () {
                $.ajax({
                    url: '{{ path('profile_staff_company_check_exist_username') }}',
                    type: 'POST',
                    data: {
                        username: $("#apibundle_user_username").val().trim()
                    },
                    success: function (data) {
                        if (data.isExist) {
                            isValidUsername = false;
                            alert(data.message);
                            $("#apibundle_user_username").val('')
                        }
                    },
                    err: function (err) {
                        console.info(err);
                    }
                });
            });

            $("#saveUserBtn").on('click', function () {
                isValidUsername = ($("#apibundle_user_username").val().trim() !== '' && $("#apibundle_user_username").val().length >= 5);
                isValidPassword = (regexPassword.test($("#apibundle_user_plainPassword").val()) && $("#apibundle_user_plainPassword").val().length >= 8);

                if (!isValidUsername || !isValidPassword) {
                    event.preventDefault();
                }

                isValidUsername? $('.username-error').addClass('hidden') : $('.username-error').removeClass('hidden');
                isValidPassword? $('.password-error').addClass('hidden') : $('.password-error').removeClass('hidden');
            })
        });
    </script>
{% endblock %}
