{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Добавление 1-ой вложенности категории товара</h4>
        </div>
        {{ form_start(form) }}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.goodCategory) }}
                    <div class="cat-nest-one-added-block">
                        {{ form_row(form.name) }}
                        {{ form_row(form.status) }}
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="regUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('profile_good_category_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}
