{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_company_index') }}'">Назад</button>
            <button class="btn-dark" onclick="location.href='{{ path('admin_good_category_add', {companyId: companyId}) }}'">Добавить категорию</button>
            <button class="btn-dark" onclick="location.href='{{ path('admin_good_category_nest_one_add', {companyId: companyId}) }}'">Добавить 1-ю вложенность</button>
            <button class="btn-dark" onclick="location.href='{{ path('admin_good_category_nest_two_add', {companyId: companyId}) }}'">Добавить 2-ю вложенность</button>
            {#<button class="btn-dark" onclick="location.href='{{ path('admin_good_category_new') }}'">Добавить 3-ю вложенность</button>#}
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">1-ая вложенность</th>
                <th scope="col">2-ая вложенность</th>
                {#<th scope="col">3-я вложенность</th>#}
                <th scope="col">Дата создания</th>
                <th scope="col">Дата обновления</th>
            </tr>
            </thead>
            <tbody>
            {% for goodCategory in pagination %}
                <tr>
                    <th scope="row">{{ goodCategory.id }}</th>
                    <td>
                        {{ goodCategory.name }}
                        <a href="{{ path('admin_good_category_edit', {companyId: goodCategory.company.id, id: goodCategory.id}) }}">
                            <span class="fa fa-edit"></span>
                        </a>
                        <a href="{{ path('admin_good_category_delete', {companyId: goodCategory.company.id, id: goodCategory.id}) }}">
                            <span class="fa fa-remove"></span>
                        </a>
                    </td>
                    <td>
                        {% if goodCategory.goodCategoryNestOne %}
                            <ul>
                            {% for goodCategoryNestOne in goodCategory.goodCategoryNestOne %}
                                <li>
                                    {{ goodCategoryNestOne.name }} <small>({{ goodCategory.name }})</small>
                                    <a href="{{ path('admin_good_category_nest_one_edit', {companyId: goodCategory.company.id, goodCategoryId: goodCategory.id, id: goodCategoryNestOne.id}) }}">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                    <a href="{{ path('admin_good_category_nest_one_delete', {companyId: goodCategory.company.id, goodCategoryId: goodCategory.id, id: goodCategoryNestOne.id}) }}">
                                        <span class="fa fa-remove"></span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        {% if goodCategory.goodCategoryNestOne %}
                            {% for goodCategoryNestOne in goodCategory.goodCategoryNestOne %}
                                <ul>
                                {% if goodCategoryNestOne.goodCategoryNestTwo %}
                                    {% for goodCategoryNestTwo in goodCategoryNestOne.goodCategoryNestTwo %}
                                        <li>
                                            {{ goodCategoryNestTwo.name }} <small>({{ goodCategoryNestOne.name }})</small>
                                            <a href="{{ path('admin_good_category_nest_two_edit', {companyId: goodCategory.company.id, goodCategoryId: goodCategory.id, goodCategoryNestOneId: goodCategoryNestTwo.goodCategoryNestOne.id, id: goodCategoryNestTwo.id}) }}">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                            <a href="{{ path('admin_good_category_nest_two_delete', {companyId: goodCategory.company.id, goodCategoryId: goodCategory.id, goodCategoryNestOneId: goodCategoryNestTwo.goodCategoryNestOne.id, id: goodCategoryNestTwo.id}) }}">
                                                <span class="fa fa-remove"></span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </td>
                    {#<td>
                        {% if goodCategory.goodCategoryNestOne and goodCategory.goodCategoryNestOne.goodCategoryNestTwo and goodCategory.goodCategoryNestOne.goodCategoryNestTwo.goodCategoryNestThree %}
                            {{ goodCategory.goodCategoryNestOne.goodCategoryNestTwo.goodCategoryNestThree.name }}
                        {% endif %}
                    </td>#}
                    <td>{{ goodCategory.createDate | date('d-m-Y') }}</td>
                    <td>{{ goodCategory.updateDate | date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
