{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_company_index') }}'">Назад</button>
            <button class="btn-dark" onclick="location.href='{{ path('admin_good_new', {companyId: companyId}) }}'">Создать</button>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Категория</th>
                <th scope="col">Краткое описание</th>
                <th scope="col">Статус</th>
                <th scope="col">(Не)Возвратный</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for good in pagination %}
                <tr>
                    <th scope="row">{{ good.id }}</th>
                    <td>{{ good.name }}</td>
                    <td>{{ good.price }}</td>
                    <td>
                        {{ good.goodCategory.name }}
                        {% if good.goodCategoryNestOne %}
                            -> {{ good.goodCategoryNestOne.name }}
                        {% endif %}
                        {% if good.goodCategoryNestTwo %}
                            -> {{ good.goodCategoryNestTwo.name }}
                        {% endif %}
                    </td>
                    <td>{{ good.shortDescription }}</td>
                    <td>{{ good.getStatusString() }}</td>
                    <td>{{ good.getIsReturnableString() }}</td>
                    <td>{{ good.createDate | date('d-m-Y') }}</td>
                    <td>{{ good.updateDate | date('d-m-Y') }}</td>
                    <td>
                        <a href="{{ path('admin_good_edit', {companyId: good.company.id, id: good.id}) }}">Редактировать</a>
                        <a href="{{ path('admin_good_delete', {companyId: good.company.id, id: good.id}) }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
