{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Компания {{ company.name }}: Создание товара</h4>
        </div>
        {{ form_start(form, {'multipart': true}) }}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-7">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.shortDescription) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.isReturnable) }}
                    {{ form_row(form.file) }}
                    {{ form_row(form.goodCategory) }}
                    {{ form_row(form.goodCategoryNestOne) }}
                    {{ form_row(form.goodCategoryNestTwo) }}
                </div>
                <div class="col-lg-5"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="regUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path( 'admin_good_index', {companyId: company.id}) }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{{ path('admin_good_category_nest_one_get_list_by_good_category') }}',
                data: {
                    goodCategoryId: $("#apibundle_good_goodCategory option:selected").val()
                },
                success: function (data) {
                    $("#apibundle_good_goodCategoryNestOne").empty();

                    $("#apibundle_good_goodCategoryNestOne").append(
                        '<option value="">' + 'Выберите категорию' + '</option>'
                    );

                    for (var i = 0; i < data.length; i++) {
                        $("#apibundle_good_goodCategoryNestOne").append(
                            '<option value="'+ data[i].id +'">' + data[i].name + '</option>'
                        );
                    }
                },
                error: function (err) {
                    console.info(err);
                }
            });


            $("#apibundle_good_goodCategory").on('change', function () {
                $.ajax({
                    url: '{{ path('admin_good_category_nest_one_get_list_by_good_category') }}',
                    data: {
                        goodCategoryId: $(this).val()
                    },
                    success: function (data) {
                        $("#apibundle_good_goodCategoryNestOne").empty();

                        $("#apibundle_good_goodCategoryNestOne").append(
                            '<option value="">' + 'Выберите категорию' + '</option>'
                        );

                        for (var i = 0; i < data.length; i++) {
                            $("#apibundle_good_goodCategoryNestOne").append(
                                '<option value="'+ data[i].id +'">' + data[i].name + '</option>'
                            );
                        }
                    },
                    error: function (err) {
                        console.info(err);
                    }
                });
            });

            $("#apibundle_good_goodCategoryNestOne").on('change', function () {
                if ($(this).val()) {
                    $.ajax({
                        url: '{{ path('admin_good_category_nest_two_get_list_by_good_category_nest_one') }}',
                        data: {
                            goodCategoryNestOneId: $(this).val()
                        },
                        success: function (data) {
                            $("#apibundle_good_goodCategoryNestTwo").empty();

                            $("#apibundle_good_goodCategoryNestTwo").append(
                                '<option value="">' + 'Выберите категорию' + '</option>'
                            );

                            for (var i = 0; i < data.length; i++) {
                                $("#apibundle_good_goodCategoryNestTwo").append(
                                    '<option value="' + data[i].id + '">' + data[i].name + '</option>'
                                );
                            }
                        },
                        error: function (err) {
                            console.info(err);
                        }
                    });
                } else {
                    $("#apibundle_good_goodCategoryNestTwo").empty();

                    $("#apibundle_good_goodCategoryNestTwo").append(
                        '<option value="">' + 'Выберите категорию' + '</option>'
                    );
                }
            });
        });
    </script>
{% endblock %}
