{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <a class="btn btn-info" href="{{ path('profile_shop_show_on_map') }}">На карте</a>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Телефон</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for shop in pagination %}
                <tr>
                    <th scope="row">{{ shop.id }}</th>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.phone }}</td>
                    <td>
                        <a href="{{ path('profile_shop_show', {id: shop.id}) }}">Посмотреть</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
