{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid profile-shop-map">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('profile_shop_index') }}'">Назад</button>
        </div>

        <div class="col-lg-12">
            <div id="map" class="map-container"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script>
        $(document).ready(function () {
            var shops = '{{ shops }}';
            shops = shops.replace( /&quot;/g, '"' );
            shops = JSON.parse(shops);

            initializeMap(shops);
        });

        function initializeMap(shops) {
            var map;

            DG.then(function () {
                map = DG.map('map', {
                    center: [{{ settingSiteMap.centerLatitude }}, {{ settingSiteMap.centerLongitude }}],
                    zoom: {{ settingSiteMap.zoom }}
                });

                shops.forEach(function (shop, i) {
                    var popup =
                        '<span class="leaflet-popup-shop-name" title="'+shop.name+'">' + 'Название: ' + shop.name + '</span>' +
                        '</br>' +
                        '<span class="leaflet-popup-shop-phone" title="'+shop.phone+'">' + 'Телефон: ' + shop.phone + '</span>' +
                        '</br>' +
                        '<span class="leaflet-popup-shop-email" title="'+shop.email+'">' + 'E-mail: ' + shop.email + '</span>' +
                        '</br>' +
                        '<img style="width: 55px; height: 55px; margin-top: 5px;" src="/'+shop.photoWebLink+'">';

                    DG.marker([parseFloat(shop.latitude), parseFloat(shop.longitude)]).addTo(map).bindPopup(popup);
                });
            });
        }
    </script>
{% endblock %}
