{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="box box-info">
            <div class="action-btn-list">
                <button class="btn-dark" onclick="location.href='{{ path('profile_shop_index') }}'">Назад</button>
            </div>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            {% if shop.fileSrc %}
                                <img class="shop-photo" src="{{ shop.fileSrc }}">
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Название:</strong>
                        </td>
                        <td>
                            {{ shop.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Email (почта):</strong>
                        </td>
                        <td>
                            {{ shop.email }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Адрес:</strong>
                        </td>
                        <td>
                            {{ shop.address }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Телефон:</strong>
                        </td>
                        <td>
                            {{ shop.phone }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Дата последнего обновления:</strong>
                        </td>
                        <td>
                            {{ shop.updateDate | date('d-m-Y H:i:s') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-footer">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
