{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}
{% block leftbar %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    {% for historyBooking in historyBookings %}
        <div class="col-md-12 profile-booking-container">
            <h4>Номер заказа
                {% if historyBooking.bookingNumber %}
                    {{ historyBooking.bookingNumber }}
                {% else %}
                    #
                {% endif %}
                | Статус заказа: {{ bookingService.bookingStatusByLocale(historyBooking.status, 'ru') }}
            </h4>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <strong>Заказчик:</strong>
                    </td>
                    <td>
                        {{ historyBooking.customerUserName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Компания продавец:</strong>
                    </td>
                    <td>
                        {{ historyBooking.sellerCompanyName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Курьер:</strong>
                    </td>
                    <td>
                        {{ historyBooking.deliveryManInfo | raw }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Статус:</strong>
                    </td>
                    <td>
                        {{ bookingService.bookingStatusByLocale(historyBooking.status, 'ru') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Дата создания:</strong>
                    </td>
                    <td>
                        {{ historyBooking.createdDate | date('d-m-Y H:i:s') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Дата доставки:</strong>
                    </td>
                    <td>
                        {{ historyBooking.deliveryDate | date('d-m-Y H:i:s') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Дата последнего обновления:</strong>
                    </td>
                    <td>
                        {{ historyBooking.updatedDate | date('d-m-Y H:i:s') }}
                    </td>
                </tr>
                </tbody>
            </table>

            {#List of booking history items#}
            <h3>Товары заказа:</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Категория
                    </th>
                    <th>
                        Цена за единицу
                    </th>
                    <th>
                        Куплено (количество)
                    </th>
                    <th>
                        К оплате
                    </th>
                    <th>
                        Количество возврата
                    </th>
                    <th>
                        Получен (Да/Нет)
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for historyBookingItem in historyBooking.historyBookingItem %}
                    <tr>
                        <td title="{{ historyBookingItem.goodDescription }}">
                            {{ historyBookingItem.goodName }}
                        </td>
                        <td>
                            {{ historyBookingItem.goodCategoryName }}
                        </td>
                        <td>
                            {{ historyBookingItem.pricePerOne }}
                        </td>
                        <td>
                            {{ historyBookingItem.amount }}
                        </td>
                        <td>
                            {{ bookingService.calculatePriceByAmount(historyBookingItem.pricePerOne, historyBookingItem.amount) }}
                        </td>
                        <td>
                            {{ historyBookingItem.returnCount? historyBookingItem.returnCount : 0 }}
                        </td>
                        <td>
                            {{ historyBookingItem.receivedString }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="profile-booking-show-history-total-price">
                <div>
                    <strong>Общая сумма заказа:</strong> {{ bookingService.calculateTotalHistoryBookingPrice(historyBooking, false) }}
                </div>
                <div>
                    <strong>Итого к оплате:</strong> {{ bookingService.calculateTotalHistoryBookingPrice(historyBooking, true) }}
                </div>
            </div>
        </div>
        <hr>
        <br>
    {% endfor %}
{% endblock %}
{% block footer %}{% endblock %}