{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="box box-info">
            <div class="action-btn-list">
                <button class="btn-dark" onclick="location.href='{{ path('admin_company_index') }}'">Назад</button>
            </div>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Номер заказа', 'hb.bookingNumber') }}</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Статус</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Дата создания', 'hb.createdDate') }}</th>
                <th scope="col">Дата доставки</th>
                <th scope="col">Дата последнего обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for historyBooking in pagination %}
                <tr>
                    <th scope="row">
                        {% if historyBooking.bookingNumber %}
                            {{ historyBooking.bookingNumber }}
                        {% else %}
                            #
                        {% endif %}
                    </th>
                    <td>{{ historyBooking.customerUserName }}</td>
                    <td class="{{ bookingService.bookingColorByStatus(historyBooking.status) }}">{{ bookingService.bookingStatusByLocale(historyBooking.status, 'ru') }}</td>
                    <td>{{ historyBooking.createdDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ historyBooking.deliveryDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ historyBooking.updatedDate | date('d-m-Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('admin_booking_show_history', {companyId: companyId, historyBookingId: historyBooking.id}) }}">Просмотр</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
