{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_company_index') }}'">Назад</button>
            <div class="filter-container">
                <form id="bookingFilterForm" action="{{ path('admin_booking_index', {companyId: companyId}) }}" method="post">
                    <select id="bookingStatusFilter" class="booking-status-filter form-control" name="bookingStatus">
                        <option value="">Статус</option>
                        {% for bookingStatus in bookingStatuses %}
                            <option value="{{ bookingStatus }}" {% if selectedBookingStatus == bookingStatus %}selected{% endif %}>{{ bookingService.bookingStatusByLocale(bookingStatus, 'ru') }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <input id="bookingResetFilter" type="button" class="btn btn-default" value="Сбросить">
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Номер заказа', 'b.number') }}</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Статус</th>
                <th scope="col">Доставщик</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Дата создания', 'b.createdDate') }}</th>
                <th scope="col">Дата доставки</th>
                <th scope="col">Дата последнего обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in pagination %}
                <tr>
                    <th scope="row">{{ booking.number }}</th>
                    <td>{{ booking.customerUser.shop.name }}</td>
                    <td class="{{ bookingService.bookingColorByStatus(booking.status) }}">{{ bookingService.bookingStatusByLocale(booking.status, 'ru') }}</td>
                    <td>
                        {% if booking.deliveryStaffCompany %}
                            {{ booking.deliveryStaffCompany.firstName }}
                            {{ booking.deliveryStaffCompany.secondName }}
                            {{ booking.deliveryStaffCompany.lastName }}
                        {% endif %}
                    </td>
                    <td>{{ booking.createdDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ booking.deliveryDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ booking.updatedDate | date('d-m-Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('admin_booking_show', {companyId: booking.sellerCompany.id, bookingId: booking.id}) }}">Просмотр</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/booking/index.js') }}"></script>
{% endblock %}