<h4>{{ formTitle }}</h4>
{{ form_row(form.name) }}
{{ form_row(form.email) }}
<span class="email-error hidden text-danger">Неккоректно введена почта.</span>
{{ form_row(form.address) }}
{{ form_row(form.phone) }}
{{ form_row(form.latitude) }}
{{ form_row(form.longitude) }}
{{ form_row(form.file) }}
{{ form_row(form.status) }}
{% if company is defined %}
    {% if company.fileSrc %}
        <img class="company-photo" src="{{ company.fileSrc }}">
    {% endif %}
{% endif %}