{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Редактирование пользователя: {{ user.email }}</h4>
            <small>(идентификационные данные)</small>
        </div>
        {{ form_start(form, {'multipart': true}) }}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.username) }}
                    <span class="username-error hidden text-danger">Логин пользователя не должен быть пустым и содержать не менее 5 символов.</span>

                    <label for="changePassword">Изменить пароль</label>
                    <input id="changePassword" type="checkbox" />
                    {{ form_row(form.plainPassword, {attr: {'disabled': true}}) }}
                    <span class="password-error hidden text-danger">Пароль должен содержать  не менее 8 символов букв латинского алфавита и цифр, не менее 1 буквы и не менее 1 цифры. Попробуйте еще.</span>

                    <div class="hide-element">
                    {{ form_row(form.specialRole, {attr: {class: 'form-control'}}) }}
                    </div>

                    <hr>
                    <div class="additional-form">
                        {{ addFormView | raw }}

                        {% if addEntity.fileSrc is defined and addEntity.fileSrc %}
                            <img class="company-photo" src="{{ addEntity.fileSrc }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="saveUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('admin_user_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var isValidEmail = true,
                isValidPassword = true,
                isValidUsername = true,
                isValidSpecialRole = true;

            // Regular expression on checking correct entered "email"
            var regexEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            // Regular expression on checking correct entered "password"
            var regexPassword = /[^a-z][^0-9]|[^0-9][^a-z]/;

            $("#changePassword").on('click', function () {
                if($(this).is(':checked')) {
                    $("#apibundle_user_plainPassword").attr('disabled', false);
                } else {
                    $("#apibundle_user_plainPassword").attr('disabled', true);
                }
            });

            $("#apibundle_user_username").on('blur', function () {
                $.ajax({
                    url: '{{ path('admin_user_check_exist_username') }}',
                    type: 'POST',
                    data: {
                        username: $("#apibundle_user_username").val().trim()
                    },
                    success: function (data) {
                        if (data.isExist) {
                            isValidUsername = false;
                            alert(data.message);
                        }
                    },
                    err: function (err) {
                        console.info(err);
                    }
                });
            });

            $("#saveUserBtn").on('click', function () {
                isValidUsername = ($("#apibundle_user_username").val().trim() !== '' && $("#apibundle_user_username").val().length >= 5);
                if ($("#changePassword").is(':checked')) {
                    isValidPassword = (regexPassword.test($("#apibundle_user_plainPassword").val()) && $("#apibundle_user_plainPassword").val().length >= 8);
                } else {
                    isValidPassword = true;
                }
                isValidSpecialRole = !!$("#apibundle_user_specialRole").val();

                if ($("#apibundle_shop_email").length > 0) {
                    isValidEmail = (regexEmail.test($("#apibundle_shop_email").val()) || $("#apibundle_shop_email").val().trim() === '');
                }
                if ($("#apibundle_company_email").length > 0) {
                    isValidEmail = (regexEmail.test($("#apibundle_company_email").val()) || $("#apibundle_company_email").val().trim() === '');
                }

                if (!isValidUsername || !isValidPassword || !isValidSpecialRole || !isValidEmail) {
                    event.preventDefault();
                }

                isValidUsername? $('.username-error').addClass('hidden') : $('.username-error').removeClass('hidden');
                isValidPassword? $('.password-error').addClass('hidden') : $('.password-error').removeClass('hidden');
                isValidSpecialRole? $('.special-role-error').addClass('hidden') : $('.special-role-error').removeClass('hidden');
                isValidEmail? $('.email-error').addClass('hidden') : $('.email-error').removeClass('hidden');
            })
        });
    </script>
{% endblock %}