{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_user_new') }}'">Создать</button>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Роль</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.specialRole %}
                        {{ userService.convertUserRole(user.specialRole) }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_user_edit', {id: user.id}) }}">Редактировать</a>
                    <a href="{{ path('admin_user_delete', {id: user.id}) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
