{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Создание пользователя</h4>
            <small>(идентификационные данные)</small>
        </div>
        {{ form_start(form, {'multipart': true}) }}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.username) }}
                    <span class="username-error hidden text-danger">Логин пользователя не должен быть пустым и содержать не менее 5 символов.</span>
                    {{ form_row(form.plainPassword) }}
                    <span class="password-error hidden text-danger">Пароль должен содержать  не менее 8 символов букв латинского алфавита и цифр, не менее 1 буквы и не менее 1 цифры. Попробуйте еще.</span>
                    {{ form_row(form.specialRole) }}
                    <span class="special-role-error hidden text-danger">Выберите роль пользователя.</span>
                    <div class="additional-form">
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="saveUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path( 'admin_user_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var isValidEmail = true,
                isValidPassword = false,
                isValidUsername = false,
                isValidSpecialRole = false;

            // Regular expression on checking correct entered "email"
            var regexEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            // Regular expression on checking correct entered "password"
            var regexPassword = /[^a-z][^0-9]|[^0-9][^a-z]/;

            $("#apibundle_user_specialRole").on('change', function () {
                $.ajax({
                    url: '{{ path('admin_user_additional_form_by_role') }}',
                    type: 'POST',
                    data: {
                        role: $(this).find(":selected").val(),
                        userId: null
                    },
                    success: function (data) {
                        $('.additional-form').empty();
                        $('.additional-form').append(data.view);
                    },
                    err: function (err) {
                        console.info(err);
                    }
                });
            });

            $("#apibundle_user_username").on('blur', function () {
                $.ajax({
                    url: '{{ path('admin_user_check_exist_username') }}',
                    type: 'POST',
                    data: {
                        username: $("#apibundle_user_username").val().trim()
                    },
                    success: function (data) {
                        if (data.isExist) {
                            isValidUsername = false;
                            alert(data.message);
                            $("#apibundle_user_username").val('')
                        }
                    },
                    err: function (err) {
                        console.info(err);
                    }
                });
            });

            $("#saveUserBtn").on('click', function () {
                isValidUsername = ($("#apibundle_user_username").val().trim() !== '' && $("#apibundle_user_username").val().length >= 5);
                isValidPassword = (regexPassword.test($("#apibundle_user_plainPassword").val()) && $("#apibundle_user_plainPassword").val().length >= 8);
                isValidSpecialRole = !!$("#apibundle_user_specialRole").val();

                if ($("#apibundle_shop_email").length > 0) {
                    isValidEmail = (regexEmail.test($("#apibundle_shop_email").val()) || $("#apibundle_shop_email").val().trim() === '');
                }
                if ($("#apibundle_company_email").length > 0) {
                    isValidEmail = (regexEmail.test($("#apibundle_company_email").val()) || $("#apibundle_company_email").val().trim() === '');
                }

                if (!isValidUsername || !isValidPassword || !isValidSpecialRole || !isValidEmail) {
                    event.preventDefault();
                }


                isValidUsername? $('.username-error').addClass('hidden') : $('.username-error').removeClass('hidden');
                isValidPassword? $('.password-error').addClass('hidden') : $('.password-error').removeClass('hidden');
                isValidSpecialRole? $('.special-role-error').addClass('hidden') : $('.special-role-error').removeClass('hidden');
                isValidEmail? $('.email-error').addClass('hidden') : $('.email-error').removeClass('hidden');
            })
        });
    </script>
{% endblock %}
