{% extends "::profileBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Настройки карты</h4>
        </div>
        {{ form_start(form) }}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.zoom) }}
                    {{ form_row(form.centerLatitude) }}
                    {{ form_row(form.centerLongitude) }}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="saveUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path('profile_company_index') }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}