{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/magnific-popup.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/main/freelancer.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/unitegallery/dist/css/unite-gallery.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/unitegallery/dist/themes/default/ug-theme-default.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">My Dealer</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Приложение</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Ключевые навыки</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Контакты</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('login') }}">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto main-header-logo" src="{{ asset('images/dealer.png') }}" alt="">
            <h1 class="text-uppercase mb-0">Поставки товаров</h1>
            <br>
            <h1 class="text-uppercase mb-0">в ваш магазин</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Теперь в вашем телефоне</h2>
            <br>
            <a class="btn btn-xl btn-outline-light" target="_blank" href="https://play.google.com/store/apps/details?id=kg.t_agent">
                <i class="fa fa-download mr-2"></i>
                Скачать!
            </a>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">О мобильном приложении</h2>
            <hr class="star-dark mb-5">
            <div class="row main-gallery">
                <div id="gallery">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot1.png') }}" alt="Авторизуйся и начни пользоваться уже сейчас.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot2.png') }}" alt="Выбирай любимую компанию из списка и её товары.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot3.png') }}" alt="Фильтруй список компаний по дням недели их доступности. Так некоторые компании доступны в определённые дни недели.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot4.png') }}" alt="Исследуй меню. Там много полезного и интересного.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot5.png') }}" alt="Выбирай любимый бренд товара из целого списка.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot6.png') }}" alt="Добавляй товары различных компаний в корзину и формируй свой уникальный заказ.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot8.png') }}" alt="Оформляй заказ моментально сразу из корзины.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot7.png') }}" alt="Редактируй свой заказ, до того как оформить.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot9.png') }}" alt="Каждая компания оформляется как отдельный заказ в списке под своим номером, что упрощает отслеживание его выполнения.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot11.png') }}" alt="Курьер видит только свои заказы">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot22.png') }}" alt="Курьер может изучить заказ подробно и принять его.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot13.png') }}" alt="Принятые заказы появляются у курьера в соответствующем разделе">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot15.png') }}" alt="Отмечай только доставленные товары">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot16.png') }}" alt="Курьер видит у себя отмеченные товары галочкой как доставленные и может отметить заказ как доставленный. Для обновления информации по заказу справа вверху есть кнопка.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot17.png') }}" alt="Если заказ отмечен как доставленный, то изменить статусы товаров невозможно.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot18.png') }}" alt="Отмечай заказы как избранные, чтобы каждый раз не формировать один и тот же заказ.">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot19.png') }}" alt="Избранный заказ можно повторить. Таким образом можно сформировать несколько заказов и в дальнейшем только повторять их. ">
                    <img class="img-fluid" src="{{ asset('images/mobapp/screenshot21.png') }}" alt="Редактируй свой профиль. Изменяй контактные данные, название и фото.">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">Ключевые навыки сервиса</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <img class="key-moment-icon" src="{{ asset('images/fast.png') }}">
                    <p class="lead">Быстрая и качественная доставка заказа есть и будет нашей основой.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <img class="key-moment-icon" src="{{ asset('images/helping.png') }}">
                    <p class="lead">Доверие и взаимодействие - успех построения крепких деловых отношений.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <img class="key-moment-icon" src="{{ asset('images/usage.png') }}">
                    <p class="lead">Простота использоапния сервиса и приложения, однин из приоритетных и важных моментов для наших пользователей.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Контакты</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" method="post">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Фамилия Имя Отчество</label>
                                <input class="form-control" id="name" name="fromFullName" type="text" placeholder="ФИО" data-validation-required-message="Пожалуйста введите ваше ФИО.">
                                {#<p class="help-block text-danger"></p>#}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email адрес</label>
                                <input class="form-control" id="email" name="fromEmail" type="email" placeholder="Email адрес" data-validation-required-message="Пожалуйста введите ваш email адрес.">
                                {#<p class="help-block text-danger"></p>#}
                                <p class="incorrect-email-error hidden text-danger">Email введён неккоректно</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Номер телефона</label>
                                <input class="form-control" id="phone" name="phoneNumber" type="tel" placeholder="Номер телефона" data-validation-required-message="Пожалуйста введите ваш номер телефона.">
                                {#<p class="help-block text-danger"></p>#}
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Текст сообщения</label>
                                <textarea class="form-control" id="message" name="textMessage" rows="5" placeholder="Текст сообщения"></textarea>
                                {#<p class="help-block text-danger"></p>#}
                                <p class="text-message-error hidden text-danger">Пожалуйста введите текст сообщения.</p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <input type="button" class="btn btn-primary btn-xl" id="sendMessageButton" value="Отправить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {#<footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">2215 John Daniel Drive
                        <br>Clark, MO 65243</p>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                                <i class="fa fa-fw fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                    <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
                        <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>#}

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; itStarDevs 2018</small>
        </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- Plugin JavaScript -->
    <script src="{{ asset('js/main/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/main/jquery.magnific-popup.min.js') }}"></script>

    <!-- Contact Form JavaScript -->
    {#<script src="{{ asset('js/main/jqBootstrapValidation.js') }}"></script>#}
    {#<script src="{{ asset('js/main/contact_me.js') }}"></script>#}

    <!-- Custom scripts for this template -->
    <script src="{{ asset('js/main/freelancer.min.js') }}"></script>

    <script src="{{ asset('assets/unitegallery/dist/js/unitegallery.min.js') }}"></script>
    <script src="{{ asset('assets/unitegallery/dist/themes/default/ug-theme-default.js') }}"></script>
    <script src="{{ asset('assets/unitegallery/dist/themes/tiles/ug-theme-tiles.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#gallery").unitegallery({
                gallery_theme: "tiles",
                tiles_type: "justified",
                tile_enable_textpanel:true,
                tile_textpanel_title_text_align: "center",
                tile_textpanel_title_font_size: "10"
            });

            $("#sendMessageButton").on('click', function () {
                var regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                if (regex.test($("input[name='fromEmail']").val())) {
                    $('.incorrect-email-error').addClass('hidden');
                } else {
                    $('.incorrect-email-error').removeClass('hidden');
                }

                if ($("textarea[name='textMessage']").val().trim() !== '') {
                    $('.text-message-error').addClass('hidden');
                } else {
                    $('.text-message-error').removeClass('hidden');
                }

                if(regex.test($("input[name='fromEmail']").val()) && $("textarea[name='textMessage']").val().trim() !== '') {
                    $.ajax({
                        url: '{{ path('send_contact_message') }}',
                        data: $("#contactForm").serialize(),
                        success: function (data) {
                            $('.incorrect-email-error').addClass('hidden');
                            $('.text-message-error').addClass('hidden');
                            $("#contactForm")[0].reset();

                            if (data.isSend) {
                                alert('Спасибо за сообщение.');
                            }
                        },
                        error: function (err) {
                            console.info(err);
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}