{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Пожалуйста войдите</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" action="{{ path('login') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Login" name="login" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Вход">
                                <a class="btn btn-lg btn-secondary btn-block" href="{{ path('homepage') }}">Главная</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            {% if app.session.flashBag.has('errorUserLogin') %}
            {% for msg in app.session.flashBag.get('errorUserLogin') %}
            if ('{{ msg }}') {
                alert('{{ msg }}');
            }
            {% endfor %}
            {% endif %}
        })
    </script>
{% endblock %}
