{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box box-info">
            <h4>Редактирование группы</h4>
        </div>
        {{ form_start(form, {'multipart': true}) }}
        <div class="box-body">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

        <div class="box-footer">
            <button id="regUserBtn" type="submit" class="btn btn-primary">Сохранить <i class="fa fa-fw fa-check-square-o"></i></button>
            <a class="btn btn-default" href="{{ path( 'admin_shop_group_index', {companyId: companyId}) }}">Отмена <i class="fa fa-fw fa-undo"></i></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}
