{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_company_index') }}'">Назад</button>
            <button class="btn-dark" onclick="location.href='{{ path('admin_shop_group_new', {companyId: company.id}) }}'">Создать</button>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for shopGroup in pagination %}
                <tr>
                    <th scope="row">{{ shopGroup.id }}</th>
                    <td>{{ shopGroup.name }}</td>
                    <td>{{ shopGroup.description }}</td>
                    <td>{{ shopGroup.createDate | date('d-m-Y H:i:s') }}</td>
                    <td>{{ shopGroup.updateDate | date('d-m-Y H:i:s') }}</td>
                    <td>
                        <select class="action-item-slct form-control" onchange="actionItem(this)">
                            <option value="">...</option>
                            <option value="{{ path('admin_shop_group_shop_list', {companyId: company.id, shopGroupId: shopGroup.id}) }}">Список магазинов</option>
                            <option value="{{ path('admin_shop_group_set_date_company_access', {companyId: company.id, shopGroupId: shopGroup.id}) }}">Установить дату доступности компании</option>
                            <option value="{{ path('admin_shop_group_edit', {companyId: company.id, id: shopGroup.id}) }}">Редактировать</option>
                            <option value="{{ path('admin_shop_group_delete', {companyId: company.id, id: shopGroup.id}) }}">Удалить</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/admin/shopGroup/index.js') }}"></script>
{% endblock %}