{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_shop_group_index', {companyId: companyId}) }}'">Назад</button>
            <button type="button" class="btn-dark" data-toggle="modal" data-target="#addShopModal">Добавить магазин</button>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Телефон</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for shop in shopGroup.shop %}
                <tr>
                    <th scope="row">{{ shop.id }}</th>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.phone }}</td>
                    <td>
                        <a href="{{ path('admin_shop_group_delete_shop', {companyId: companyId, shopGroupId: shopGroup.id, shopId: shop.id}) }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add shop modal -->
    <div id="addShopModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление магазина:</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{{ path('admin_shop_group_add_shop', {'companyId': companyId, 'shopGroupId': shopGroup.id}) }}" method="post">
                    <div class="modal-body">
                        <p>Выберите магазин из списка доступных для добавления в группу.</p>
                        <select name="shop" class="form-control">
                            <option value="">...</option>
                            {% for shopItem in shopList %}
                                <option value="{{ shopItem.id }}">{{ shopItem.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn" value="Добавить">
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
