{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="action-btn-list">
            <button class="btn-dark" onclick="location.href='{{ path('admin_user_new') }}'">Создать</button>
        </div>
        <table class="table list-table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Адрес</th>
                <th scope="col">Телефон</th>
                <th scope="col">Email</th>
                <th scope="col">Статус</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата обновления</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for company in pagination %}
                <tr>
                    <th scope="row">{{ company.id }}</th>
                    <td>{{ company.name }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.phone }}</td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.getStatusString() }}</td>
                    <td>{{ company.createDate | date('d-m-Y') }}</td>
                    <td>{{ company.updateDate | date('d-m-Y') }}</td>
                    <td>
                        <select class="action-item-slct form-control" onchange="actionItem(this)">
                            <option value="">...</option>
                            <option value="{{ path('admin_company_staff_list', {companyId: company.id}) }}">Список курьеров</option>
                            <option value="{{ path('admin_good_category_index', {companyId: company.id}) }}">Категории товаров</option>
                            <option value="{{ path('admin_good_index', {companyId: company.id}) }}">Список товаров</option>
                            <option value="{{ path('admin_booking_index', {companyId: company.id}) }}">Список заказов</option>
                            <option value="{{ path('admin_shop_group_index', {companyId: company.id}) }}">Список групп магазинов</option>
                            <option value="{{ path('admin_booking_history', {companyId: company.id}) }}">История заказов</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/admin/company/index.js') }}"></script>
{% endblock %}