{% extends "::adminBase.html.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid admin-user-form">
        <div class="box-body">
            <div class="col-lg-12">
                <h4>{{ company.name }}</h4>
                <div class="action-btn-list">
                    <button class="btn-dark" onclick="location.href='{{ path('admin_company_index') }}'">Назад</button>
                    <button class="btn-dark" onclick="location.href='{{ path('admin_staff_company_new', {companyId: company.id}) }}'">Добавить курьера</button>
                </div>
                <table class="table list-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Компания</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата обновления</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for staffCompany in staffList %}
                        <tr>
                            <th scope="row">{{ staffCompany.id }}</th>
                            <td>{{ staffCompany.secondName }} {{ staffCompany.firstName }} {{ staffCompany.lastName }}</td>
                            <td>{{ staffCompany.address }}</td>
                            <td>{{ staffCompany.phone }}</td>
                            <td>{{ staffCompany.company.name }}</td>
                            <td>{{ staffCompany.createDate | date('d-m-Y') }}</td>
                            <td>{{ staffCompany.updateDate | date('d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('admin_staff_company_edit', {id: staffCompany.id}) }}">Редактировать</a>
                                <a href="{{ path('admin_staff_company_delete', {id: staffCompany.user.id}) }}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-footer">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}